.navbar-lewagon {
  justify-content: space-between;
  background: rgb(135, 0, 0);
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-decoration: none;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
  text-decoration: none;
}
